.button {
  letter-spacing: 0.7px;
  text-transform: uppercase;
  cursor: pointer;
  @include button-radius("big");
  padding: spacing(3, 8, 3, 8);
  font-size: sizing(2);
  a {
    @include extend-clickable(1em, 1em);
    font-weight: bold;
  }

  max-width: 30em;
  text-align: center;
  margin: auto;
}

.button__blue-on-white {
  background-color: $backgroud-blue-button-color;
  color: $text-blue-button-color;
  a {
    color: $text-blue-button-color;
  }
}

.button__white-on-blue {
  background-color: $background-white-button-color;
  color: $text-white-button-color;
  a {
    color: $text-white-button-color;
  }
}

.button__white-on-red {
  background-color: $background-red;
  color: $color-white;
  a {
    color: $color-white;
  }
}

.button__white-on-blue--soft {
  a {
    color: $color-soft-grey;
  }
}

.button--bold {
  font-weight: bold;
}

.button--squared {
  @include button-radius("small");
}

.button--half-squared {
  @include button-radius("medium");
}
