// hack
.notifications {
  @include absolute-center();
  width: unset !important;
}

.custom-notifications {
  padding: 1em;
  margin: 1em;
  background-color: $color-white;
  @include button-radius("medium");

  img {
    max-width: 50px;
  }
}

.custom-notifications__content {
  margin-left: 1em;
}
