.page {
  p {
    font-size: sizing(2.7);
    text-align: justify;
    margin-bottom: 1em;
  }

  h3 {
    text-align: left;
    padding-bottom: 0.2em;
  }

  h4 {
    text-align: left;
    font-weight: bold;
    font-size: 16px;
    padding-bottom: 0.2em;
  }

  a {
    color: $color-white;
    padding-bottom: spacing(1);
    border-bottom: 1px solid $color-white;
  }

  ul {
    text-align: left;
    @include default-list();
    padding-bottom: spacing(3);
    line-height: spacing(5);

    li {
      list-style-type: disc;
      padding-left: spacing(2);
      margin-top: spacing(1);
    }
  }
}
