/**
 * Base colors
 */

// Whites
$color-white: #ffffff;

// Blues
$color-light-blue: #e4edff;
$color-flashy-blue: #eef9ff;
$color-blue: #5f8ae4;
$color-persistent-blue: #4979d5;
$color-blue-purple-gradient: linear-gradient(-140deg, #7f83ef 6%, #3a7bd5 100%);

// Reds
$color-light-red: #ffa8a8;
$color-red: #d75a4a;

// Greys
$color-very-light-grey: #f7f8fd;
$color-light-grey: #dfe2e6;
$color-light-grey-blueish: #BCC8CF;
$color-grey-blueish: #becde2;
$color-grey: #90a4ae;
$color-soft-grey: #465c66;
$color-mid-dark-grey: #AEAEAE;
$color-dark-grey: #808988;

// Blacks
$color-almost-dark: #3A3C4C;
$color-black: black;

/**
 * Elements colors
 */

// Input
$color-disabled-input: #F6F6F6;

// Texts
$text-modal-color: #4A4A4A;
$text-blue-button-color: $color-white;
$text-white-button-color: $color-black;
$text-details-color: $color-dark-grey;
$text-subtitle-color: $color-persistent-blue;
$text-tag-color: $color-persistent-blue;
$text-base-link-color: $color-blue;
$text-page-link-color: $color-blue;
$text-selection-color: $color-blue;

// Backgrounds
$background-white-button-color: $color-white;
$background-message-myself-color: $color-flashy-blue;
$background-message-general-color: $color-flashy-blue;
$background-message-yourself-color: $color-white;
$backgroud-blue-button-color: $color-blue;
$background-red: $color-red;

// Borders
$border-error-color: $color-red;
$border-message-general-color: $color-grey-blueish;
$border-message-myself-color: $color-grey-blueish;
$border-message-yourself-color: $color-light-grey;
